<p class="links">
  {% if site.twitter_username %}<a href="https://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fa fa-twitter"></i></a>{% endif %}
  {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %} 
  {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt"></i></a>{% endif %}
  {% if site.fcc_username %}<a href="https://www.freecodecamp.org/{{ site.fcc_username }}" target="_new"><i class="fa fa-free-code-camp"></i></a>{% endif %}
  {% if site.codepen_username %}<a href="https://www.codepen.io/{{ site.codepen_username }}" target="_new"><i class="fa fa-codepen"></i></a>{% endif %}
  {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa fa-stack-overflow"></i></a>{% endif %}
  <!-- {% if site.hackerrank_username %}<a href="https://www.hackerrank.com/{{ site.hackerrank_username }}" target="_new"><i class="fa fa-code"></i></a>{% endif %} -->
  {% if site.leetcode_username %}<a href="https://www.leetcode.com/{{ site.leetcode_username }}" target="_new"><i class="fa fa-code"></i></a>{% endif %}
  <!-- <a href="{{ site.baseurl }}/feed.xml" target="_new"><i class="fa fa-rss"></i></a> -->
</p>
